.bg{
  position: relative;
  background-image: url("../img/home-bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}
.cover{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  z-index: -10;
}

#animated-intro img{
  width: 500px;
}
.f-size-2{
  font-size: 2em;
}
#scrollBtn{
  width: 100%;
  position: absolute;
  top: 80%;
}
#scrollBtn .fa{
  opacity: 0.3;
  font-size: 4em;
  color: white;

  animation: flash 7s infinite;
}
@keyframes flash{
  0%{opacity: 0.1;}
  50%{opacity: 0.5;}
  100%{opacity: 0.1;}
}

@media screen and (max-width: 990px) {
  #animated-intro img{
  width: 70%;
}
.f-size-2{
  font-size: 1.4em;
}
}